@defaultWidth: 320px;
@defaultHeight: 160px;
@fontSize: @defaultHeight/2;

.fs-video-playlist {
  .fs-video {
    .video-thumbnail-container {
      position: relative;
      width: @defaultWidth;
      height: @defaultHeight;

      .overlay {
        position: absolute;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, .6);
          color: rgba(0, 0, 0, .4);
        }

        .fa-play-circle-o {
          font-size: @fontSize;
          position: relative;
          top: @fontSize/2;
        }

        .promote {
          color: white;
          position: absolute;
          bottom: 0px;
          right: 0px;
          padding: 3px;
          background-color: #f5aa37;
          cursor: pointer;
        }
      }

      .thumbnail {
        margin: 0;
        padding: 0;
        width: @defaultWidth;
        height: @defaultHeight;
      }
    }
  }
}